/* 
    Be 120 pixels in height
    Be the full width of the viewport.
    Have #4056A1 as its default background colour.
    Have #FFFFF as its default font colour
    The <span> within the <nav> has Bungee as it's default font-family
    The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges
 */

nav {
  display: flex;
  align-items: flex-end;
  /* The next three properties fix the navbar at the top of the window */
  position: fixed;
  top: 0;
  width: 100%;
  height: 120px;
  background-color: #4056a1;
  color: #f4f1ec;
  /* VVV CHECK THIS OUT ONCE YOU ADD MORE NAV ELEMENTS VVV  */
  padding: 1.5em;
}

nav span {
  font-family: Bungee, sans-serif;
}