.new-tweet {
  width: 100%;
  font-weight: 700;
}

/* There's probably a better way to get this to span
 than just setting width 100% */
.new-tweet h2{
  width: 100%;
  text-align: center;
}

#tweet-text {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: solid 3px #545149;
  outline: none;
  resize: none;
  /* remove scroll bars in Internet Explorer */
  overflow: auto; 
}

.new-tweet button {
  
  background-color: #4056a1;
  color: #f4f1ec;
  border: none;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
  font-family: Bungee, sans-serif;
}

.red {
  color: red;
}

#error {
  border: solid 3px red;
  text-align: center;
  color: red;
  margin-bottom: 50px;
  display: none;
}

/* Drop-shadow for the default ! in the #error div */
#error #exclaim-left {
  text-shadow: -2px 2px #aebae0;
}

#error #exclaim-right {
  text-shadow: 2px 2px #aebae0;
}