.new-tweet {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/* There's probably a better way to get this to span then just setting width 100% */
.new-tweet h2{
  width: 100%;
  text-align: center;
}

#tweet-text {
  width: 100%;
  background-color: inherit;
  border: none;
  border-bottom: solid 3px;
  border-color: #545149;
  outline: none;
  resize: none;
  /* remove scroll bars in Internet Explorer */
  overflow: auto; 
}

.new-tweet button {
  font-family: Bungee, sans-serif;
  background-color: #4056a1;
  color: #f4f1ec;
  border: none;
}

.new-tweet-footer {
  display: flex;
  justify-content: space-between;
}