.tweet {
  border: #545149 3px solid;
  margin-top: 50px;
}

.tweet:hover {
  box-shadow:10px 10px #aebae0;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

/* Aligns elements vertically with user-handle */
.tweet .username-and-image {
  display: flex;
  align-items: center;
}

.tweet .user-handle {
  /* same color as the .tweet:hover box-shadow */
  color: #aebae0;
  /* hidden by default */
  display: none;
}

/* Show on hover */
.tweet:hover .user-handle {
  display: block;
 
}

.tweet-content {
  border-bottom: solid 3px;
  border-color: #545149;
  margin: 5px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: x-small;
}