.tweet {
  border: #545149 3px solid;
  width: 100%;
  margin-top: 2em;
  /* just so I can see what I'm doing */
  margin-bottom: 10em;
}

.tweet header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
}

.tweet-content {
  border-bottom: solid 3px;
  border-color: #545149;
  margin: 5px;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  font-size: x-small;
}

/* In a perfect world I'd have the right colour! Same as the header and the TWEET button  */
.tweet footer .icons {

}